
<html>

<head>
<!--link rel="styleSheet" href="style.css" type="text/css" media="screen" /-->
<%= stylesheet_link_tag "style" %>

<title>BLOGGER BOARD </title>

<script type="text/javascript">

</script>

</head>



<body>

<div id="outer-container">
 
 <div id="container">
		
		<br clear="all" />
		<br clear="all" />
		<br clear="all" />
		<br clear="all" />



	<ul>
 		<li>
				<textarea cols=70 rows=5>

						 <%= @question.description 
						  %>
		
				</textarea>
	        </li>

	 </ul>



	 <div id="question-container">

	<%= form_for(@answer) do |f| %>
  		<% if @answer.errors.any? %>
    		<div id="error_explanation">
      			<h2><%= pluralize(@answer.errors.count, "error") %> prohibited this man from being saved:</h2>

    		  	<ul>
    			  <% @answer.errors.full_messages.each do |msg| %>
        			<li><%= msg %></li>
      			  <% end %>
      		 	</ul>
        	</div>
   		<% end %>

  	<div class="field">
      	<%= f.text_area :description , :value=> 'Post your Answer !!' , :cols=>"90" , :rows=>"10" %>
 		<%= f.submit :value => 'Post' %>
  	</div>
  
 	<% end %>  
	</div>



	 <ul>

	        <% @answers.each do |answer|%>
				<li>
					<textarea cols=70 rows=5>
					<%= answer.description%>
		    	   < textarea>
	            </li>
	        <%end%>
	</ul>





  
</div> <!--container ends-->


</div> <!-- outer-container ends-->
</body>

</html>
