
<div id="outer-container">
 
 <div id="container">

      	      	
		<br clear="all" />
		<br clear="all<% %>" />
		<% %><br clear="all" />
		<br clear="all" />



	<ul>
 		<li>
				<textarea cols=70 rows=5>

						 <%= @question.description 
						  %>
		
				</textarea>
	        </li>

	 </ul>


      
	<%= render :partial=>"answers/new_answer" , :locals=>{:answer=>Answer.new(:question_id=>@question.id)} %>		


	 <ul>

	        <% @answers.each do |answer|%>
				<li>
					<textarea cols=70 rows=5>
						<%= answer.description %>
						<%= answer.id %>	
							
							
		    	    </textarea>
		    	    
		    	    <%=form_for (@user_activity[answer] ) do |f| %>
								<div class="field">
								  <%= f.hidden_field :user_id  %>
								  <%= f.hidden_field :answer_id , :value=> answer.id %>
								  <%#= f.hidden_field :id  %>

								  <%= f.submit :value => 'UP', :disabled=> ( ! user_signed_in?  or ( @user_activity[answer] and (@user_activity[answer].vote == 1 )) ? 'true' : nil )%>

								  <%= f.submit :value => 'DOWN', :disabled=> ( ! user_signed_in? or ( @user_activity[answer] and (@user_activity[answer].vote == 2 )) ? 'true' : nil ) %>
								

								</div> 
					<%end%>

	            </li>
	        <%end%>
	</ul>


</div>
</div>