
<html>

<head>
<!--link rel="styleSheet" href="style.css" type="text/css" media="screen" /-->
<%= stylesheet_link_tag "style" %>

<title>BLOGGER BOARD </title>

<script type="text/javascript">

</script>

</head>



<body>

<div id="outer-container">
 
 <div id="container">
		
     <div id="login-form">	


<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this man from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field outer">
    <%= f.label :Email %>
    	<br clear="all" />
    <%= f.text_field :email %>
  </div><br clear="all" />
  <div class="field outer">
    <%= f.label :Password %><br />
    <%= f.text_field :password %>
  </div>
 <br clear="all" /><br clear="all" />
  <div class="actions">
    <%= f.submit :value => 'Log/Register'%>
  </div>
  <br clear="all" />
<% end %>



  </div><!-- login-form ends-->

		<br clear="all" />
		<br clear="all" />
		<br clear="all" />
		<br clear="all" />


<div id="question-container">

	<%= form_for(@question) do |f| %>
  		<% if @question.errors.any? %>
    		<div id="error_explanation">
      			<h2><%= pluralize(@question.errors.count, "error") %> prohibited this man from being saved:</h2>

    		  	<ul>
    			  <% @question.errors.full_messages.each do |msg| %>
        			<li><%= msg %></li>
      			  <% end %>
      		 	</ul>
        	</div>
   		<% end %>

  	<div class="field">
      	<%= f.text_area :description , :value=> 'Ask your Question'%>
 		<%= f.submit :value => 'Ask' %>
  	</div>
  
  	<div class="actions">
    	
   	</div>
 <% end %>  
</div>



<div id="recent-questions">
	<ul>
 		<li>
				<textarea cols=70 rows=5>
				
						 Question ??
		
				</textarea>
	        </li>
		<li>
				<textarea cols=70 rows=5>
				
						 Answer1 
		
				</textarea>
	        </li>
		 <li>
				<textarea cols=70 rows=5>
				
						 Answer2
		
				</textarea>
	        </li>
	</ul>
</div>

  
</div> <!--container ends-->





</div> <!-- outer-container ends-->
</body>

</html>
