



<div id="outer-container">
 
 <div id="container">
		
     <div id="login-form">	
<%  puts 'Hello' 
    puts @user[:id] %>

<%= form_for(resource_name, resource, :url => session_path(resource_name)) do |f| %>
  
  <div class="field outer">
    <%= f.label :Email %>
    	<br clear="all" />
    <%= f.text_field :email %>
  </div><br clear="all" />
  
  <div class="field outer">
    <%= f.label :Password %><br />
    <%= f.password_field :password %>
  </div>
 
 <br clear="all" /><br clear="all" />
 
  <div class="actions">
    <%= f.submit :value => 'Log/Register'%>
  </div>
  <br clear="all" />
<% end %>



  </div><!-- login-form ends-->

		<br clear="all" />
		<br clear="all" />
		<br clear="all" />
		<br clear="all" />


<div id="question-container">

	<%= form_for(@question) do |f| %>
  		<% if @question.errors.any? %>
    		<div id="error_explanation">
      			<h2><%= pluralize(@question.errors.count, "error") %> prohibited this man from being saved:</h2>

    		  	<ul>
    			  <% @question.errors.full_messages.each do |msg| %>
        			<li><%= msg %></li>
      			  <% end %>
      		 	</ul>
        	</div>
   		<% end %>

  	<div class="field">
      	<%= f.text_area :description , :value=> 'Ask your Question !!' , :cols=>"90" , :rows=>"10" %>
 		<%= f.submit :value => 'Ask' , :disabled=> ( ! user_signed_in?  ? 'true' : nil ) %>
  	</div>
  
  	<div class="actions">
    	
   	</div>
 <% end %>  
</div>



  <div id="recent-questions">
	   <ul>
   
           <% @recent_questions_array.each do |question| %>
 		         
            <% link_to "/questions/#{question.id}" do %>
             <li>
                  <p class="question-desc">
                    <%= question.description%>
                    
				          </p>  
	          </li>
             <%end%>
          <%end%>   
	
	</ul>
</div>

  
  </div> <!--container ends-->

</div> <!-- outer-container ends-->
