
	<%= form_for answer do |f| %>
  		<% if @answer.errors.any? %>
    		<div id="error_explanation">
      			<h2><%= pluralize(@answer.errors.count, "error") %> prohibited this man from being saved:</h2>

    		  	<ul>
    			     <% @answer.errors.full_messages.each do |msg| %>
        			   <li><%= msg %></li>
      			    <% end %>
      		 	</ul>
         </div>
   		<% end %>

  	<div class="field">
      	<%= f.text_area :description , :value=> 'Post your Answer !!' , :cols=>"90" , :rows=>"10" %>
 		 <%= f.hidden_field :question_id  %>

    <%= f.submit :value => 'Post' %>
  	</div>
  
 	<% end %>  
	